.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 10px;
    color: black;
    font-size: 20px;
}

.header {
    grid-column: span 12;
    grid-row: span 1;
}

.sidebar {
    grid-column: span 3;
    grid-row: span 10;
}

.navigation {
    grid-column: span 6;
    grid-row: span 1;
}

.ads {
    grid-column: span 3;
    grid-row: span 10;

}

.main {
    grid-column: span 6;
    grid-row: span 9;
}

.footer {
    grid-column: span 12;
    grid-row: span 1;
}

.header,
.sidebar,
.navigation,
.ads,
.main,
.footer {
    background-color: pink;
    /* boxes ka color */

}

@media(max-width:720px) {
    .header {
        grid-column: 1 /span 12;
    }

    .navigation {
        grid-column: 1 /span 12;
        grid-row: 2;
    }

    .sidebar {
        grid-column: 1 /span 3;
        grid-row: 3 /span 9;
    }

    .main {
        grid-column: 4 /span 9;
        grid-row: 3 /span 9;
    }

    .ads {
        grid-column: 1 /span 3;
        grid-row: 12;
    }

    .footer {
        grid-column: 4 /span 9;
        grid-row: 12;
    }
}