.face{
    width: 400px;
    height: 400px;
    background-color: #ffa511;
    border-radius: 50%;
    position: relative;
    
}
.mouth{
    width: 200px;
    height: 100px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}
.left-eye, .right-eye{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    top: 100px;
    left: 100px;
    position: absolute;
}
.right-eye{
    left: 250px;
}