
#box1 {
    width: 100px;
    height: 100px;
    background: green;
    transition: width 2s ease-in 0.5s;
}

#box1:hover {
    width: 600px;
}


#box2 {
    width: 100px;
    height: 100px;
    background: red;
    transition: transform 2s ease-in 0.5s;
}

#box2:hover {
    transform: translate(2200px, 200px) rotate(90deg);
}

#box3 {
    width: 100px;
    height: 100px;
    background: lightblue;
    transform: skewX(20deg);
}

#box4 {
    width: 100px;
    height: 100px;
    background: lightgreen;
    box-shadow: 2px 2px 5px green;
}

#myPic {
    width: 200px;
    height: 200px;
    background: pink;
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/040/890/255/small/ai-generated-empty-wooden-table-on-the-natural-background-for-product-display-free-photo.jpg');
    background-size: cover;
    opacity: 50%;
}