<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is the home page</h1>
    <h3><%=1 +3 %></h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic perferendis et obcaecati ad repellendus asperiores
        velit quod mollitia nam similique, consectetur sapiente. Saepe eos sint consectetur dolorum mollitia eaque, fuga
        enim asperiores quaerat, aut beatae voluptas. Non atque nihil doloribus quia aliquam impedit sunt molestiae
        obcaecati corporis perspiciatis? Perspiciatis consequuntur, tenetur odio recusandae nesciunt eos!</p>
    <button>click me</button>
</body>

</html>