/* MAIN GRID */
.container {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 80px 1fr 1fr 70px;
    gap: 15px;
    height: 100vh;
    padding: 10px;
    background: #e9e9e9;
}

/* DIRECT GRID POSITIONING */
.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: #3b82f6;
    color: white;
    display: grid;
    place-items: center;
    font-size: 22px;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background: #111827;
    color: white;
    padding: 20px;
}

.main {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background: #f3f4f6;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    gap: 15px;
    padding: 10px;
}

.rightbar {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    background: #374151;
    color: white;
    padding: 20px;
}



/* INNER BOXES */
.box {
    background: #93c5fd;
    border: 2px solid #2563eb;
    display: grid;
    place-items: center;
    font-size: 20px;
    font-weight: bold;
}

/* Different spans for practice */
.box1 {
    grid-column: span 2;
}

.box3 {
    grid-row: span 2;
}

/* .box5 {
    grid-column: span 3;
} */

.footer {
    grid-column: 1 / 4;
    /* grid-row: 6 / 7; */
    background: #1f2937;
    color: white;
    display: grid;
    place-items: center;
    font-size: 20px;
}