#mainTopic{
    color: blue;
}
*{
    text-align: center;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.paragraph{
    color: white;
    background-color: cornflowerblue;
}
div button{
    background-color: purple;
    color: azure;
}
button:hover{
    background-color: yellow;
    color: blue;
}
p:nth-of-type(odd){
    color: yellow;
}