.set{
    height: 150px;
    width: 300px;
    background-color: grey;
    margin-top: 20px;
    margin-right: 1em;
    border: 5px dotted black;
    margin-bottom: 40px;
    margin-left: 2em;
    padding: 1em;
}
.second{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
}
ul{
    display: flex;
    list-style-type: none;
    
}