.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
h2{
    text-align: center;
    color: #333;
    font-size: 30px;
}
input{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}