div{
    border: 2px solid black;
    width: 500px;
    height: 200px;
    background-color: lightblue;
    padding: 10px 20px;
    margin-top: 20px;
}

button{
    margin-top: 10px;
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}