/* body {
    background-color: lightgray;
}
h1{
    color:blue;
     text-align:center;
}

h2{
    color:orange;
}
p{
    color: white;
    background-color: black;
}
button{
    color: white;
    background-color: blue;
} */


h1{
    text-align: center;
}

h3{
    text-align: right;
}

