#container {
    width: 400px;
    height: 400px;
    border: 2px solid lightblue;
    border-radius: 10px;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}
.box{
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color:gray;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    border-radius: 10px;
}

#navbar{
    width: 900px;
    height: 60px;
    background-color: pink;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    border: 2px solid lightblue;
    border-radius: 10px;
    padding: 0 10px;
}
.option{
    height: 50px;
    width: 80px;
    font-size: 24px;
    color: black;
    display: flex;
    align-items: center;
    font-size: 24px;
}